@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For rgb(255 115 179 / 1) */
    --color-primary: 255 115 179;

    /* For hsl(333deg 100% 73% / 1) */
    --color-primary: 333deg 100% 73%;

    /* For rgba(255, 115, 179, 1) */
    --color-primary: 255, 115, 179;



    --background: #d2e1cfdb;
    --foreground: #171717;
    /* --background: #f0f8f0;
    --foreground: #1a3a1a;
    --primary: #2ecc71;
    --secondary: #27ae60;
    --accent: #16a085;
    --light-green: #e8f5e9;
    --dark-green: #1e5631; */
    --dark-green: #1C3434;
    --light-green: #b8d4be8d;
    --white: #FFFFFF;
    --light-beige: #F4F1EA;
    --dark-beige: #4C554F;
    --black: #041010;
    --dark-green-2: #031B1B;
    --gray: #717D7D;
    --light-gray: #ABCCC5;
    --light-blue: #F1F7F7;
    --green: #00DF82;
    --green-2: #2CC295;
    --dark-green-3: #04614C;
    --green2: #80F495;


    --icon-color: #00DF82;    
    --darkGreen-text-color: #1C3434;
    --lightGreen-text-color: #2d5252d6;
  }
}





/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--dark-green);

  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 0%
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
